<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
    <appSettings>
  <add key="DomainName" value="http://e2aforums.com/"/>
    <add key="YoutubePath" value="http://youtube.com/"/>
    <add key="FbAPPKey" value="551080798330891" />
    <add key="APIKeylinkedin" value="755xl7z5zxzgde" />
    <add key="ApiSecretlinkedin" value="Uf5WddJN80hwsiUa" />    
 
    <add key="EnableSsl" value="true" />
    <!--<add key="StripeAPIKEY" value="sk_test_imK86DRe822jSfRSKrGhe4Cm" />-->
    <add key="VerificationAdminEmail" value="e2aforums@gmail.com" />
    <add key="SupportEmail" value="e2aforums@gmail.com" />

    <add key="smtp" value="smtp.gmail.com"/>
    <add key="EmailFrom" value="contact.e2aforums@gmail.com"/>
    <add key="Port" value="587"/>
    <add key="EmailFromPass" value="Oakville##1@e"/>
  </appSettings>

  <system.web>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
    <machineKey validationKey="1234567890123456789012345678901234567890AAAAAAAAAA"  decryptionKey="123456789012345678901234567890123456789012345678" validation="SHA1" decryption="Auto" />

<sessionState timeout="525600"></sessionState>
    <compilation debug="true" targetFramework="4.0" />
    <!--<customErrors mode="On" redirectMode="ResponseRewrite">
      <error statusCode="404" redirect="404NotFound.aspx" />
    </customErrors>-->
    <customErrors mode="Off"/>
    <trust level="Full" originUrl=""/>
    <pages>
      <controls>
        <add src="~/User/UserControls/SideBarControl.ascx" tagName="SideBar" tagPrefix="HM"/>
        <add src="~/User/UserControls/TopBarControl.ascx" tagName="TopBar" tagPrefix="HR"/>
        <add src="~/User/UserControls/UserProfileControl.ascx" tagName="UserProfile" tagPrefix="HP"/>
        <add src="~/User/UserControls/CalendarEvent.ascx" tagName="CalendarEvent" tagPrefix="HM"/>
      </controls>
    </pages>
    <authentication mode="Forms">
      <forms defaultUrl="~/Home.aspx" loginUrl="~/Home.aspx" cookieless="UseCookies" timeout="525600"  protection="All" name="AUTHCOOKIE" />
    </authentication>
  </system.web>

  <location path="User">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>

  <location path="GmaiAuth.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
      

    </system.web>
  </location>

  <connectionStrings>
	   <!-- <add name="cn" connectionString="Server=69.172.198.61,1435;database=admin_e2adev;uid=admin; password=skkMbp8rm6S!"/>-->
    <!--<add name="cn" connectionString="Server=SAHILSHARMA-PC;database=e2aForumsTest;uid=sa; pwd=dba"/>-->
    <add name="cn" connectionString="Server=184.168.47.13;database=e2adev;uid=davinder; pwd=devantil55"/>
    <!--<add name="cn" connectionString="Server=184.168.47.13;database=e2aForums;uid=e2aForumsUser; pwd=Humbhi42#"/>-->
    <!--<add name="cn" connectionString="Data Source=WIN-SG86LT9MISU\SQLEXPRESS;Initial Catalog=e2aForums; Integrated Security=True" providerName="System.Data.SqlClient"/>-->
    <!--<add name="cn" connectionString="Server=MANISH;database=InstyntDb2;uid=sa; pwd=dba"/>-->
  </connectionStrings>

  <system.webServer>
    <directoryBrowse enabled="false"/>
    <defaultDocument>
      <files>
        <clear/>
        <add value="Home.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>

  <system.webServer>
  <httpErrors errorMode="Custom">
      <remove statusCode="404"/>
      <error statusCode="404" path="/404NotFound.aspx" responseMode="ExecuteURL"/>
    </httpErrors>
    <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll"/>
      <dynamicTypes>
        <add mimeType="text/*" enabled="true"/>
        <add mimeType="message/*" enabled="true"/>
        <add mimeType="application/javascript" enabled="true"/>
        <add mimeType="*/*" enabled="false"/>
      </dynamicTypes>
      <staticTypes>
        <add mimeType="text/*" enabled="true"/>
        <add mimeType="message/*" enabled="true"/>
        <add mimeType="application/javascript" enabled="true"/>
        <add mimeType="*/*" enabled="false"/>
      </staticTypes>
    </httpCompression>
    <urlCompression doStaticCompression="true" doDynamicCompression="true"/>
  </system.webServer>

  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network host="smtp.gmail.com" defaultCredentials="false" userName="e2aforums@gmail.com" password="Humbhi42#" port="25"/>        
      </smtp>
    </mailSettings>
  </system.net>
</configuration>